@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    int mainNewsFolderId = 1131;
    IPublishedContent newsFolder = Umbraco.TypedContent(mainNewsFolderId);
    IEnumerable<IPublishedContent> latestNews = newsFolder.Children.Where(n => n.IsVisible()).OrderByDescending(n => n.GetPropertyValue<DateTime>("date")).Take(2);
}

<section class="features-news">
    <div class="container">
        <div class="list">
            <ul>
                @foreach (IPublishedContent news in latestNews)
                {
                    string backgroundImage = string.Empty;
                    IPublishedContent background = news.GetPropertyValue<int>("background") > 0 ? Umbraco.TypedMedia(news.GetPropertyValue<int>("background")) : news.GetPropertyValue<IPublishedContent>("background");
                    if (background != null)
                    {
                        backgroundImage = background.Url;
                    }

                    string newsTitle = news.GetPropertyValue<string>("title");
                    if (string.IsNullOrWhiteSpace(newsTitle)) { newsTitle = news.Name; }
                    <li>
                        <div class="boxed" @Html.Raw(!string.IsNullOrWhiteSpace(backgroundImage) ? string.Format("style=\"background-image: url('{0}');\"", backgroundImage) : string.Empty)>
                            <div class="date">@(news.GetPropertyValue<DateTime>("date").ToString("MMMM dd, yyyy"))</div>
                            <h3>@Html.Raw(newsTitle)</h3>
                            @if (news.HasValue("teaser"))
                            { <p>@Umbraco.Truncate(Umbraco.StripHtml(news.GetPropertyValue<HtmlString>("teaser")), 180, true)</p> }
                            <a class="btn-black" href="@news.Url" title="@newsTitle">@Umbraco.GetDictionaryValue("ReadMore_Text")</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="link">
            <a class="btn-red-border link" href="@newsFolder.Url" title="@Umbraco.GetDictionaryValue("MoreNews_Text")">@Umbraco.GetDictionaryValue("MoreNews_Text")</a>
        </div>
    </div>
</section>