@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@using Umbraco.Forms.MVC.Extensions
@using System.Configuration;
@{
    Layout = null;

    //get the current full URL for sharing on social media
    string currentFullUrl = Request.Url.GetLeftPart(UriPartial.Authority) + Request.Url.PathAndQuery;
    string siteName = "LaSalle Solutions";
    int configNodeId = Convert.ToInt32(ConfigurationManager.AppSettings["ConfigNode"]);
    IPublishedContent configNode = Umbraco.TypedContent(configNodeId);

    bool isHomepage = false;
    if (Model.Content.Level == 1)
    {
        isHomepage = true;
    }

    //external redirects - redirect to the new URL if specified
    if (CurrentPage.HasValue("umbracoRedirect"))
    {
        Response.Redirect(CurrentPage.umbracoRedirect);
    }

    Html.RequiresJs("~/scripts/fancybox.js");
    //We must also have jQuery and jQuery UI as well at the top for Contour
    Html.RequiresJs("~/umbraco_client/Application/JQuery/jquery.validate.min.js"); //Needed for Contour Form.
    Html.RequiresJs("~/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js"); //Needed for Contour Form
    Html.RequiresJs("~/umbraco/plugins/umbracocontour/scripts/frontend/contourform.js"); //Needed for Contour Form
    Html.RequiresJs("~/scripts/scripts.js");

    Html.RequiresCss("~/css/normalize.css");
    Html.RequiresCss("~/css/fancybox.css");
    Html.RequiresCss("~/css/main.css");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@Umbraco.Field("pageTitle", altFieldAlias: "pageName")</title>
    <meta name="description" content="@Umbraco.Field("metaDescription")" />
    <meta name="keywords" content="@Umbraco.Field("metaKeywords")" />
    <meta name="author" content="Streng Design & Advertising" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/favicon-152.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/favicon-144.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/favicon-120.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/favicon-114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/favicon-72.png" />
    <link rel="apple-touch-icon" href="/images/icons/favicon-57.png" />
    <link rel="icon" href="/images/icons/favicon-32.png" sizes="32x32" />
    <script src="https://cdn.limbik.io/init.js" async></script>
    <meta name="application-name" content="@siteName" />
    <meta name="msapplication-TileColor" content="#ef4035" />
    <meta name="msapplication-TileImage" content="/images/icons/favicon-144.png" />
    <meta property="og:description" content="@Umbraco.Field("metaDescription")" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@currentFullUrl" />
    <meta property="og:site_name" content="@siteName" />
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/22c3fee9-18fb-4d23-b06b-dd8a6e4ab6e6.css" />
    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    @Html.RenderCssHere()
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body class="@(isHomepage ? "homepage" : string.Empty)">
    <div class="site-header">
        <div class="content clearfix">
            <a href="/" class="site-logo" title="Home"><img src="/images/logo.png" alt="@siteName" /></a>
            @{Html.RenderPartial("_MainNavigation");}
        </div>
    </div>
    <!-- Mobile Header Search -->
    <div class="header_res_search">
        <div class="header_res_search_wrapper">
            <div class="header_mid">
                <form action="/search/" method="post">
                    <input type="search" class="res_input" name="q" id="searchfield" placeholder="Search" autocomplete="off" />
                    <input class="res_search_btn" type="submit" value="" />
                </form>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- Mobile Header Search -->

    @RenderBody()

    <!--*** footer ***-->
    <div class="footer_main">
        <div class="footer_wrapper">
            <div class="footer_mid">
                <div class="footer_top">
                    <div class="footer_logo"><a href="/" title="Home"><img src="/images/footer-logo.png" alt="@siteName" /></a></div>
                    <div class="footer_text1">@configNode.GetPropertyValue("footerHeading", true)</div>
                    <div class="footer_text2">@Html.Raw(configNode.GetPropertyValue("footerSubHeading", true))</div>
                    @if (configNode.HasValue("footerButtonNode"))
                    {
                        IPublishedContent linkNode = (configNode.GetPropertyValue<IPublishedContent>("footerButtonNode") == null ? Umbraco.TypedContent(configNode.GetPropertyValue<int>("footerButtonNode")) : configNode.GetPropertyValue<IPublishedContent>("footerButtonNode"));
                        if (linkNode != null)
                        { <a class="request_btn2" href="@linkNode.Url">@(linkNode.HasValue("navigationTitle") ? linkNode.GetPropertyValue<string>("navigationTitle") : linkNode.Name)</a> }
                    }
                </div>
                <div class="footer_mid2">
                    <div class="social_media">
                        <a href="https://www.youtube.com/LaSalleSolutions" title="YouTube" target="_blank"><img src="/images/icon-youtube.png" alt="YouTube" /></a> &nbsp; &nbsp;
                        <a href="https://www.linkedin.com/company/lasalle-solutions" title="LinkedIn" target="_blank"><img src="/images/icon-linkedin.png" alt="LinkedIn" /></a> &nbsp; &nbsp;
                        <a href="https://facebook.com/LaSalleSolutions" title="Facebook" target="_blank"><img src="/images/icon-facebook.png" alt="Facebook" /></a> &nbsp; &nbsp;
                        <a href="https://twitter.com/managesmartnet" title="Twitter" target="_blank"><img src="/images/icon-twitter.png" alt="Twitter" /></a> &nbsp; &nbsp; &nbsp;
                        <a href="https://www.instagram.com/lasallesolutions" title="Instagram" target="_blank"><img src="/images/icon-instagram.png" style="width:40px; opacity:0.75;" alt="Instagram" /></a>
                    </div>
                    @{Html.RenderPartial("_FooterNavigation");}
                    <div class="footer_logo2"><a href="/" title="Home"><img src="/images/footer-logo-small.png" alt="@siteName" /></a></div>
                </div>
                <div class="footer_bottom">
                    <div class="footer_bottom_left">&copy; @DateTime.Now.Year.ToString() @siteName. All rights reserved.</div>
                    <div class="footer_bottom_right">HELPING YOU MANAGE THE LIFE-CYCLE OF YOUR ASSETS</div>
                    @*<div class="footer_bottom_right">9550 W Higgins Road, Rosemont, IL 60018 &nbsp;/&nbsp; Phone (847) 823-9600 &nbsp;/&nbsp; Fax (847) 823-1646</div>*@
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--*** footer ***-->

    <script type="text/javascript">
        var contourDateFormat = "@Html.ConvertDateFormat()";  //Needed for Contour Form
    </script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.js"></script>
    @Html.RenderJsHere()
    @RenderSection("ExtraScripts", false)

    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-6620716-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>