@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@using ClientDependency.Core
@{
    Layout = null;
	
	//get the current full URL for sharing on social media
    var currentFullUrl = Request.Url.GetLeftPart(UriPartial.Authority) + Request.Url.PathAndQuery;
	
	//external redirects - redirect to the new URL if specified
	if(CurrentPage.HasValue("umbracoRedirect")) {
		Response.Redirect(CurrentPage.umbracoRedirect);
	}
	
	Html.RequiresJs("~/scripts/fancybox.js");
	Html.RequiresJs("~/scripts/scripts.js");
    Html.RequiresCss("~/css/normalize.css");
	Html.RequiresCss("~/css/fancybox.css");
    Html.RequiresCss("~/css/main.css");
}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>@Umbraco.Field("pageTitle", altFieldAlias: "pageName")</title>
		<meta name="description" content="@Umbraco.Field("metaDescription")">
		<meta name="keywords" content="@Umbraco.Field("metaKeywords")">
		<meta name="author" content="Streng Design & Advertising">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/icons/favicon-152.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/icons/favicon-144.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/icons/favicon-120.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/icons/favicon-114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/icons/favicon-72.png">
		<link rel="apple-touch-icon" href="/images/icons/favicon-57.png">
		<link rel="icon" href="/images/icons/favicon-32.png" sizes="32x32">
		<script src="https://cdn.limbik.io/init.js" async></script>
		<meta name="application-name" content="LaSalle Solutions">
		<meta name="msapplication-TileColor" content="#ef4035">
		<meta name="msapplication-TileImage" content="/images/icons/favicon-144.png">
		<meta property="og:description" content="@Umbraco.Field("metaDescription")">
		<meta property="og:type" content="website">
		<meta property="og:url" content="@currentFullUrl">
		<meta property="og:site_name" content="LaSalle Solutions">
		<link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/22c3fee9-18fb-4d23-b06b-dd8a6e4ab6e6.css"/>
		@Html.RenderCssHere()
	</head>
	<body id="top">
	
		<div class="site-header">
			<div class="content clearfix">
			
				<a href="/" class="site-logo" title="Home"><img src="/images/logo.png" alt="LaSalle Solutions"></a>
				
				<div class="login-search">
					<a href="https://lamp.elasalle.com/" target="_blank" class="login">Login</a>
					
					<form class="search" action="/search/" method="post">
						<input type="search" name="q" id="searchfield" placeholder="Search">
						<button><i class="icon-search"></i></button>
					</form>
				</div> <!-- /login-search -->
				
				@{Html.RenderPartial("_MainNavigation");}
				
			</div> <!-- /content -->
		</div> <!-- /site-header -->

		@RenderBody()
							
		<div class="footer">
			<div class="content">
				
				@{Html.RenderPartial("_FooterNavigation");}
				
				<ul class="social-media">
					<li><a class="icon-share st_sharethis_custom" title="Share This Page" st_processed="yes"></a></li>
					<li><a href="http://www.youtube.com/LaSalleSolutions" class="icon-youtube" title="YouTube" target="_blank"></a></li>
					<li><a href="https://www.linkedin.com/company/lasalle-solutions" class="icon-linkedin" title="LinkedIn" target="_blank"></a></li>
					<li><a href="https://www.facebook.com/LaSalleSolutions" class="icon-facebook" title="Facebook" target="_blank"></a></li>
					<li><a href="https://www.twitter.com/managesmartnet" class="icon-twitter" title="Twitter" target="_blank"></a></li>	
					<li><a href="https://plus.google.com/101253928686047020235/" rel="publisher" class="icon-google-plus" title="Google+" target="_blank"></a></li>						
						</ul> <!-- /socia-media -->
				
				<img src="/images/logo.png" alt="LaSalle Solutions" class="footer-logo">
				<h3 class="tagline">Helping you manage the life-cycle of your assets</h3>
				
				<ul class="footer-contact" itemscope="" itemtype="http://schema.org/LocalBusiness">
					<li class="address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
						<span itemprop="streetAddress">9550 W Higgins Road</span>,
						<span itemprop="addressLocality">Rosemont</span>,
						<span itemprop="addressRegion">IL</span>
						<span itemprop="postalCode">60018</span>
					</li>
					<li class="phone">
						Phone: <span itemprop="telephone">(847) 823-9600</span>
					</li>
					<li class="fax">
						Fax: <span itemprop="faxNumber">(847) 823-1646</span>
					</li>
				</ul> <!-- /footer-contact -->

				<p class="copyright">&copy;2016 LaSalle Solutions. All rights reserved.</p>
				
				<a href="http://www.strengdesign.com" class="credit" target="_blank" title="Website design and development by Streng Design & Advertising"><i class="icon-streng"></i> Site by Streng Design</a>
			
			</div> <!-- /content -->
		</div> <!-- /footer -->
	
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		@RenderSection("ExtraScripts", false)
		<script src="//w.sharethis.com/button/buttons.js"></script>
		@Html.RenderJsHere()
		<script type="text/javascript">
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-6620716-1', 'auto');
			ga('send', 'pageview');
			
			stLight.options({
				publisher:'32e60a2e-409a-4315-9143-2c3d4db7abcf',
			});
			
			$(function(){
				$('.hero .photo-link').fancybox({
					height: '720',
					padding: 0,
					width: '1280',
					helpers: {
						overlay: {
							locked: false
						}
					}
				});
			});
		</script>
	</body>
</html>